* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
}
/* .hero {
    background-image: #00012d, clip-path: circle(50.5% at 48% 37%);
    width: 100vh;
    height: 90vh;
} */
a {
    text-decoration: none;
}
section {
    width: 100%;
    margin: 0 auto;
}
.hero {
    background-color: rgb(36 5 62);
    height: 90vh;
    /* display: block; */
}
.hero__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15rem;
    padding-top: 5rem;
}
.hero__nav--btn {
    color: #fff;
    border-bottom: 2px solid #43ffa1;
    font-size: 1.7rem;
    padding-bottom: 3px;
}
.hero__nav--btn:hover {
    background-color: #43ffa1;
    border-radius: .3rem;
    color: #00362a;
    font-size: 1.7rem;
    padding: .2rem 2rem;
    transition: all .3s;
}
.hero__content {
    position: relative;
    margin: 0 auto;
}
.hero__content--bgleft {
    position: absolute;
    top: -1.5rem;
    left: -12.5rem;
    width: 17%;
}
.hero__content--paragraph {    
    color: #fff;
    text-align: center;   
}
.hero__content--header {
    color: #fffffd;
    font-size: 8rem;
    font-weight: 300;
    margin-top: 7rem;
    margin-bottom: 4rem;
}
.hero__content--header a {
    border-bottom: 2px solid #43ffa1;
    color: #fff;    
}
.hero__content--header a:hover {
    background-color: #43ffa1;
    border-radius: 3px;
    border: none;
    color: #00362a;
    padding: 3px;
    transition: all .4s;
}
.hero__content--btn {
    background-color: #43ffa1;    
    padding: 2rem 4rem;
}
.hero__content--link {
    background-color: #43ffa1;
    color: #00362a;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 3rem;
    text-decoration: none;
}
.hero__content--btn:hover {
    border: 1px solid #43ffa1;
    background-color: none;
    color: #fff;
}
.hero__content--bgright {
    position: absolute;
    top: 17.7rem;
    right: -4.4rem;
}
.hero__content--btmcenter {
    width: 50%;
    position: absolute;
    top: 60rem;
    left: 50rem;
    transform: translate(0%, -50%);
}
/* starting style of info section */
.info__ {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(265.71deg 100% 98.63%);
    height: 80vh;
}
.info__row {
    display: flex;
    font-size: 2rem;
    margin: 0 30rem;
    gap: 1rem;
}
.info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-align: center;
    margin: 0 5rem;
}
.info__content--number {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    border: 1px solid hsl(273.16deg 28.79% 25.88%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 2rem 0;
}
.info__content--number,
.info__title {
    font-size: 3.5rem;
    color: hsl(273.16deg 28.79% 25.88%);
}
.info__title {
    margin-bottom: 2rem;
}
.info__paragraph {
    color: hsl(273.16deg 28.79% 25.88%);
    letter-spacing: -1px;
    line-height: 2.5rem;
}