/* For Fonts */
:root {
    /* fonts for fraunces */
    --fraunces-144pt-semibold-case: "case" on;
    --fraunces-144pt-semibold-ss01: "ss01" on;
    /* fonts for manrope */
    --manrope-extralight-aalt: "aalt" on;
    --manrope-extralight-case: "case" on;
    --manrope-extralight-dnom: "dnom" on;
    --manrope-extralight-frac: "frac" on;
    --manrope-extralight-numr: "numr" on;
    --manrope-extralight-ordn: "ordn" on;
    --manrope-extralight-pnum: "pnum" on;
    --manrope-extralight-sinf: "sinf" on;
    --manrope-extralight-subs: "subs" on;
    --manrope-extralight-sups: "sups" on;
    --manrope-extralight-tnum: "tnum" on;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    font-family: --manrope-extralight-tnum;    
}
body {
    box-sizing: border-box;
}
/* Just an example */
h1 {
    --fraunces-144pt-semibold-ss01: "ss01" on;
}
/* It end's here */
a {
    text-decoration: none;
}
.btn {
    background-color: #43ffa1;
    color: #00362a;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 3rem;
}
section {
    width: 100%;
    margin: 0 auto;
}
.hero {
    background-color: rgb(36 5 62);
    height: 90vh;
    position: relative;

    /* fonts */
    font-feature-settings: var(--fraunces-144pt-semibold-case), var(--fraunces-144pt-semibold-ss01);
}
.hero__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
}
.hero__nav--btn {
    color: #fff;
    border-bottom: 2px solid #43ffa1;
    font-size: 1.7rem;
    padding-bottom: 3px;
}
.hero__nav--btn:hover {
    background-color: #43ffa1;
    border-radius: .3rem;
    color: #00362a;
    font-size: 1.7rem;
    padding: .2rem 2rem;
    transition: all .3s;
}
.hero__content {
    margin: 0 15rem; /*it remove the margin */
}
/* background left */
.hero__content--bgleft {
    position: absolute;
    top: 12.5%;
    left: -14%;
    transform: translate(50%, 25%);
    width: 16%; /*fluid image*/
}
/* background right */
.hero__content--bgright {
    position: absolute;
    top: 24.2%;
    right: 2.6%;
    transform: translate(50%, 50%);
    width: 12%; /*fluid image*/
}
.hero__content--paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;    
    color: #fff;
    text-align: center;
}
.hero__content--header {
    color: #fffffd;
    font-size: 8rem;
    font-weight: 300;
    margin-top: 7rem;
    margin-bottom: 5rem;
}
.hero__content--header a {
    border-bottom: 2px solid #43ffa1;
    color: #fff;    
}
.hero__content--header a:hover {
    background-color: #43ffa1;
    border-radius: 3px;
    border: none;
    color: #00362a;
    padding: 3px;
    transition: all .4s;
}
.hero__content--btn {
    background-color: #43ffa1;    
    padding: 2rem 4rem;
}
.hero__content--link {
    background-color: #43ffa1;
    color: #00362a;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-decoration: none;
}
.hero__content--btn:hover {
    border: 1px solid #43ffa1;
    background-color: none;
    color: #fff;
}
.hero__content--btmcenter {
    width: 50%;
    margin-top: 5rem;
    position: absolute;
    top: 73rem;
    left: 50rem;
    transform: translate(0%, -50%);
}
/* starting style of info section */
.info__ {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(265.71deg 100% 98.63%);
    height: 80vh;
}
.info__row {
    display: flex;
    font-size: 2rem;
    margin: 0 30rem;
    gap: 1rem;
}
.info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-align: center;
}
.info__content:not(:last-child) {
    margin: 0 5rem;
}
.info__content--number {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    border: 1px solid hsl(273.16deg 28.79% 25.88%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 2rem 0;
}
.info__content--number,
.info__title {
    font-size: 3.5rem;
    color: hsl(273.16deg 28.79% 25.88%);
}
.info__title {
    margin-bottom: 2rem;
}
.info__paragraph {
    color: hsl(273.16deg 28.79% 25.88%);
    letter-spacing: -1px;
    line-height: 2.5rem;
}

/* style for section  */
/* start style for section author */
.author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.author__content {
    background-color: aqua;
    width: 25%;
    height: 60%;
}
.author__image {
    width: 25%;
    height: 60%;
    /* transform: translate(-68%, 8%); */
}
.author__message {
    background-color: rgba(36 5 62);
    width: 100%;
    /* transform: translate(1%, 1%); */
    z-index: 100;
}
.author__message h3 p {
    color: #a996b9;
}
.author__content--link {
    color: #00362a;
    margin: 1rem;
    padding: 1rem;
}
